Form {
  display: flex;
  min-height: 250px;
}

.right {
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  &.hidden {
    display: none;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    input {
      margin-top: 12px;
      margin-bottom: 12px;
      height: 25px;
      padding: 3px 10px;
      width: 100%;
      background: #45494a;
      border: 1px solid #646464;
      color: #abb1b6;
    }
  }
}